<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.gaozheng.sales.mapper.TblAdminMapper" >
  <resultMap id="BaseResultMap" type="cn.gaozheng.sales.model.po.TblAdmin" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="admin_id" property="adminId" jdbcType="INTEGER" />
    <result column="admin_name" property="adminName" jdbcType="VARCHAR" />
    <result column="admin_password" property="adminPassword" jdbcType="VARCHAR" />
    <result column="admin_token" property="adminToken" jdbcType="VARCHAR" />
  </resultMap>
</mapper>